/* Box model */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: "";
    display: table ;
    clear: both;
}
.container{
    width: 1140px;

    margin: 20px auto 0 auto;
}
.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.other-post {
    width: 25%;
    float: left;
}
.author-post {
    padding-top: 20px;
    border-top: 1px solid grey;
}